@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
main {
  max-width: 1240px;
  margin: 0 auto;
  text-align: center;
  padding-inline: 20px;
  flex: 1;
  @media screen and (min-width: 769px) {
    padding: 20px;
  }
}

header {
  max-width: 1240px;
  padding: 20px;
  margin-inline: auto;
  width: 100%;
}

nav {
  img {
    height: 48px;
    @media screen and (min-width: 769px) {
      height: 68px;
    }
  }
  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
}

.nav-links {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  gap: 30px;
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    font-size: 24px;
    gap: 60px;
    text-transform: capitalize;
  }
  @media sreen and (max-width: 1024px) {
  }
}

.link {
  color: black;
  text-decoration: none;
  &:hover {
    font-weight: 600;
    color: black;
  }
}

footer {
  height: 209px;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: white;
  padding-bottom: 29px;
  gap: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    font-size: 24px;
  }
}
