@mixin btn {
  position: absolute;
  top: 50%;
  cursor: pointer;
  border: 0;
  background: transparent;
  transform: translateY(-50%);
  i {
    font-size: 24px;
    color: white;
    @media screen and (min-width: 1025px) {
      font-size: 72px;
    }
  }
}

#carousel {
  position: relative;
  img {
    height: 255px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    @media screen and (min-width: 1025px) {
      height: 415px;
    }
  }
  #prev-btn {
    left: 0%;
    @include btn;
  }
  #next-btn {
    right: 0%;
    @include btn;
  }

  #carousel-current {
    display: none;
    @media screen and (min-width: 1025px) {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 18px;
      color: white;
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translate(-50%);
      backdrop-filter: brightness(50%);
      min-width: 50px;
      padding-block: 4px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
    }
  }
}
