@use 'variables' as *;

#error-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#error-title {
  color: $mainColor;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 96px;
  @media screen and (min-width: 769px) {
    font-size: 288px;
  }
}

#error-subtitle {
  color: $mainColor;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  @media screen and (min-width: 769px) {
    font-size: 36px;
  }
}

#error-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: underline;
  @media screen and (min-width: 769px) {
    font-size: 18px;
  }
}
