@use 'variables' as *;

#main-container {
  gap: 30px;
  @include mainContainer;
}

#error-msg {
  @include title;
}

#logement-presentation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logement-presentation__col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logement-presentation__row {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

#logement-accordions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: 769px) {
    gap: 32px;
  }
  @media screen and (min-width: 1025px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 76px;
  }
}

#logement-title {
  text-align: left;
  @include title;
}

#logement-location {
  color: black;
  text-align: left;
  @include secondaryText;
}

#logement-banner {
  height: 255px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  @media screen and (min-width: 1025px) {
    height: 415px;
  }
}

#host {
  display: flex;
  gap: 10px;
  justify-content: end;
  p {
    color: $mainColor;
    text-align: end;
    margin-block: auto;
    font-size: 12px !important;
    @include secondaryText;
  }
  img {
    border-radius: 100%;
    height: 32px;
    aspect-ratio: 1/1;
    margin-block: auto;
    @media screen and (min-width: 769px) {
      height: 64px;
    }
  }
}

.logement-tags {
  width: 100%;
  max-width: calc(100vw - 40px);
  display: flex;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.logement-tags::-webkit-scrollbar {
  display: none;
}

.tag {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 115px;
  height: 25px;
  background: $mainColor;
  border-radius: 5px;
  padding: 0px 16px;
  @media screen and (min-width: 769px) {
    font-size: 14px;
    border-radius: 1000px;
  }
}

#logement-rating {
  display: flex;
  gap: 4px;
  justify-content: end;
  i {
    font-size: 18px;
    @media screen and (min-width: 769px) {
      font-size: 24px;
    }
  }
}
